<ul class="cards">
    {{#if products.payload}}
    {{#each products.payload}}
    <li class="cards_item">
        <div class="card">
            <div class="card_image">
                 <img src={{this.thumbnails.[0]}}>
                 <span class="card_price"><span>$</span>{{this.price}}</span>
            </div>
            <div class="card_content">
                <h2 class="card_title">{{this.title}}</h2>
                <div class="card_text">
                  <p>{{this.description}}</p>
                </div>
            </div>
             <button onclick="addToCartButton()">Añadir al carrito</button>
            {{!-- <div onclick="addProduct('{{this._id}}')" class="card_button">
                <div class="add-to-cart">Add to cart</div>
            </div> --}}
        </div>
    </li>
    {{/each}}
    {{/if}}
</ul>
<div class="pagination-container">
    {{#if products.hasPrevPage}}
        <a href={{products.prevLink}} class="pagination-link"><< Anterior</a>
    {{/if}}
    &nbsp;
    <p class="pagination-text page-number" >{{products.page}}</p>
    &nbsp;
    {{#if products.hasNextPage}}
        <a href={{products.nextLink}} class="pagination-link">Siguiente >></a>
    {{/if}} 
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/products.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>